:root {
    --primary-highlight: #f08;
    --primary-color: rgb(123, 181, 235);
}

.word-edit,
.word-view {
    align-items: center;
    display: inline-flex;
    font-size: 13px;
}

.word-view > label {
    display: inline-block;
    padding: 4px 6px;
}

.word-edit > input {
    font-family: inherit;
    padding: 4px;
}

.word-view {
    background-color: #fff;
}

.remove-button {
    background: inherit;
    border: none;
    border-radius: 6px;
    color: rgb(206, 206, 206);
    display: inline-block;
    padding: 4px 4px 4px 0;
}

.remove-button:hover {
    color: rgb(187, 10, 10);
}

button {
    font-family: inherit;
    padding: 4px;
}

input {
    font-family: inherit;
    padding: 4px;
}

.fmu-panel,
.settings-panel {
    padding: 8px 0;
}

.word-view:hover {
    opacity: 0.7;
}
